In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
from glob import glob
import glob

file_list = glob.glob("C:/Users/Nyamasi/OneDrive/Desktop/faam/*.csv") + glob.glob("C:/Users/Nyamasi/OneDrive/Desktop/faam/*.xlsx")+ glob.glob("C:/Users/Nyamasi/OneDrive/Desktop/faam/*.xls")
df_list =[]



#columns
columns= ['Price Period', 'Town','Super', 'Diesel','Kerosene']


#renaming  columns
column_mapping = {
    'Super ': 'Super',
    ' Diesel': 'Diesel',
    ' Diesel ': 'Diesel',
    'Kerosene ': 'Kerosene',
    'Petrol': 'Super',
    'Super Petrol': 'Super',
    'Period': 'Price Period',
    'TOWNS': 'Town',
    '                      TOWNS': 'Town'
}


for file in file_list:
    if file.endswith(".csv"):
        df = pd.read_csv(file)
    elif file.endswith(".xlsx"):
        df = pd.read_excel(file)
    elif file.endswith(".xls"):
        df = pd.read_excel(file)
        

        

    df_list.append(df)

# Concatenate all the DataFrames into a single DataFrame.
merged_df = pd.concat(df_list, ignore_index =True)



# Drop duplicate columns by keeping only the first occurrence
merged_df = merged_df.loc[:,~merged_df.columns.duplicated()]

# Select only the desired columns, if they exist in the DataFrame
merged_df = merged_df[[col for col in columns if col in merged_df.columns]]

# Save the cleaned and merged DataFrame to a new CSV file
merged_df.to_csv("merged_prices.csv", index=False)

In [3]:
merged_df =pd.read_csv("merged_prices.csv")
merged_df.head(50)

,Price Period,Town,Super,Diesel,Kerosene
0,15th April 2022 to 14th May 2022,Mombasa,142.36,123.26,111.19
1,15th April 2022 to 14th May 2022,Kilifi,143.07,123.97,111.91
2,15th April 2022 to 14th May 2022,Likoni Mainland,142.72,123.61,111.55
3,15th April 2022 to 14th May 2022,Kwale,142.72,123.61,111.55
4,15th April 2022 to 14th May 2022,Malindi,143.28,124.17,112.11
5,15th April 2022 to 14th May 2022,Lungalunga,143.43,124.33,112.26
6,15th April 2022 to 14th May 2022,Voi,143.84,124.74,112.67
7,15th April 2022 to 14th May 2022,Taveta,145.25,126.14,114.08
8,15th April 2022 to 14th May 2022,Lamu,145.66,126.56,114.50
9,15th April 2022 to 14th May 2022,Hola,145.95,126.84,114.78
10,15th April 2022 to 14th May 2022,Mpeketoni,145.66,126.56,114.50
11,15th April 2022 to 14th May 2022,Minjila,144.63,125.52,113.46
12,15th April 2022 to 14th May 2022,Garsen,144.72,125.61,113.55
13,15th April 2022 to 14th May 2022,Samburu,142.66,123.56,111.50
14,15th April 2022 to 14th May 2022,Taru,142.84,123.74,111.68
15,15th April 2022 to 14th May 2022,Mwatate,144.18,125.07,113.01
16,15th April 2022 to 14th May 2022,Wundanji,144.34,125.24,113.18
17,15th April 2022 to 14th May 2022,Kaloleni,142.51,123.42,111.35
18,15th April 2022 to 14th May 2022,Marereni,143.94,124.84,112.77
19,15th April 2022 to 14th May 2022,Nairobi,144.62,125.50,113.44
20,15th April 2022 to 14th May 2022,Thika,144.62,125.51,113.44
21,15th April 2022 to 14th May 2022,Machakos,144.86,125.74,113.68
22,15th April 2022 to 14th May 2022,Kajiado,145.04,125.92,113.86
23,15th April 2022 to 14th May 2022,Makuyu,144.91,125.79,113.73
24,15th April 2022 to 14th May 2022,Muranga,145.14,126.02,113.96
25,15th April 2022 to 14th May 2022,Sagana,145.35,126.25,114.18
26,15th April 2022 to 14th May 2022,Embu,145.72,126.60,114.54
27,15th April 2022 to 14th May 2022,Kerugoya,145.64,126.53,114.47
28,15th April 2022 to 14th May 2022,Narok,146.00,126.90,114.83
29,15th April 2022 to 14th May 2022,Nyeri,145.99,126.87,114.81
30,15th April 2022 to 14th May 2022,Namanga,146.16,127.05,114.98
31,15th April 2022 to 14th May 2022,Kiganjo,145.96,126.84,114.78
32,15th April 2022 to 14th May 2022,Chuka,146.25,127.13,115.07
33,15th April 2022 to 14th May 2022,Kitui,146.15,127.04,114.97
34,15th April 2022 to 14th May 2022,Mwingi,146.53,127.43,115.36
35,15th April 2022 to 14th May 2022,Nanyuki,146.55,127.44,115.37
36,15th April 2022 to 14th May 2022,Nkubu,147.51,128.41,116.34
37,15th April 2022 to 14th May 2022,Mtito Andei,147.05,127.94,115.88
38,15th April 2022 to 14th May 2022,Meru,147.71,128.60,116.54
39,15th April 2022 to 14th May 2022,Isiolo,147.57,128.46,116.39
40,15th April 2022 to 14th May 2022,Maua,148.16,129.06,116.99
41,15th April 2022 to 14th May 2022,Garissa,148.79,129.67,117.61
42,15th April 2022 to 14th May 2022,Marsabit,152.47,133.35,121.29
43,15th April 2022 to 14th May 2022,Liboi,151.55,132.44,120.37
44,15th April 2022 to 14th May 2022,Moyale,154.05,134.94,122.87
45,15th April 2022 to 14th May 2022,Sololo,153.11,133.99,121.93
46,15th April 2022 to 14th May 2022,Habaswein,151.48,132.36,120.30
47,15th April 2022 to 14th May 2022,Dadaab,150.17,131.05,118.99
48,15th April 2022 to 14th May 2022,Tarbaj,153.72,134.62,122.54
49,15th April 2022 to 14th May 2022,Elwak,155.33,136.22,124.15

In [4]:
merged_df.head(50)

,Price Period,Town,Super,Diesel,Kerosene
0,15th April 2022 to 14th May 2022,Mombasa,142.36,123.26,111.19
1,15th April 2022 to 14th May 2022,Kilifi,143.07,123.97,111.91
2,15th April 2022 to 14th May 2022,Likoni Mainland,142.72,123.61,111.55
3,15th April 2022 to 14th May 2022,Kwale,142.72,123.61,111.55
4,15th April 2022 to 14th May 2022,Malindi,143.28,124.17,112.11
5,15th April 2022 to 14th May 2022,Lungalunga,143.43,124.33,112.26
6,15th April 2022 to 14th May 2022,Voi,143.84,124.74,112.67
7,15th April 2022 to 14th May 2022,Taveta,145.25,126.14,114.08
8,15th April 2022 to 14th May 2022,Lamu,145.66,126.56,114.50
9,15th April 2022 to 14th May 2022,Hola,145.95,126.84,114.78
10,15th April 2022 to 14th May 2022,Mpeketoni,145.66,126.56,114.50
11,15th April 2022 to 14th May 2022,Minjila,144.63,125.52,113.46
12,15th April 2022 to 14th May 2022,Garsen,144.72,125.61,113.55
13,15th April 2022 to 14th May 2022,Samburu,142.66,123.56,111.50
14,15th April 2022 to 14th May 2022,Taru,142.84,123.74,111.68
15,15th April 2022 to 14th May 2022,Mwatate,144.18,125.07,113.01
16,15th April 2022 to 14th May 2022,Wundanji,144.34,125.24,113.18
17,15th April 2022 to 14th May 2022,Kaloleni,142.51,123.42,111.35
18,15th April 2022 to 14th May 2022,Marereni,143.94,124.84,112.77
19,15th April 2022 to 14th May 2022,Nairobi,144.62,125.50,113.44
20,15th April 2022 to 14th May 2022,Thika,144.62,125.51,113.44
21,15th April 2022 to 14th May 2022,Machakos,144.86,125.74,113.68
22,15th April 2022 to 14th May 2022,Kajiado,145.04,125.92,113.86
23,15th April 2022 to 14th May 2022,Makuyu,144.91,125.79,113.73
24,15th April 2022 to 14th May 2022,Muranga,145.14,126.02,113.96
25,15th April 2022 to 14th May 2022,Sagana,145.35,126.25,114.18
26,15th April 2022 to 14th May 2022,Embu,145.72,126.60,114.54
27,15th April 2022 to 14th May 2022,Kerugoya,145.64,126.53,114.47
28,15th April 2022 to 14th May 2022,Narok,146.00,126.90,114.83
29,15th April 2022 to 14th May 2022,Nyeri,145.99,126.87,114.81
30,15th April 2022 to 14th May 2022,Namanga,146.16,127.05,114.98
31,15th April 2022 to 14th May 2022,Kiganjo,145.96,126.84,114.78
32,15th April 2022 to 14th May 2022,Chuka,146.25,127.13,115.07
33,15th April 2022 to 14th May 2022,Kitui,146.15,127.04,114.97
34,15th April 2022 to 14th May 2022,Mwingi,146.53,127.43,115.36
35,15th April 2022 to 14th May 2022,Nanyuki,146.55,127.44,115.37
36,15th April 2022 to 14th May 2022,Nkubu,147.51,128.41,116.34
37,15th April 2022 to 14th May 2022,Mtito Andei,147.05,127.94,115.88
38,15th April 2022 to 14th May 2022,Meru,147.71,128.60,116.54
39,15th April 2022 to 14th May 2022,Isiolo,147.57,128.46,116.39
40,15th April 2022 to 14th May 2022,Maua,148.16,129.06,116.99
41,15th April 2022 to 14th May 2022,Garissa,148.79,129.67,117.61
42,15th April 2022 to 14th May 2022,Marsabit,152.47,133.35,121.29
43,15th April 2022 to 14th May 2022,Liboi,151.55,132.44,120.37
44,15th April 2022 to 14th May 2022,Moyale,154.05,134.94,122.87
45,15th April 2022 to 14th May 2022,Sololo,153.11,133.99,121.93
46,15th April 2022 to 14th May 2022,Habaswein,151.48,132.36,120.30
47,15th April 2022 to 14th May 2022,Dadaab,150.17,131.05,118.99
48,15th April 2022 to 14th May 2022,Tarbaj,153.72,134.62,122.54
49,15th April 2022 to 14th May 2022,Elwak,155.33,136.22,124.15

In [5]:
merged_df.tail(50)

     Price Period           Town   Super  Diesel  Kerosene
3703          NaN         Kiwawa  137.14  118.32    106.28
3704          NaN          Ortum  136.72  117.91    105.86
3705          NaN      Kachibora  135.52  116.70    104.66
3706          NaN         Kwanza  136.23  117.42    105.38
3707          NaN       Kaplamai  135.54  116.74    104.68
3708          NaN  Eldama Ravine  135.96  117.15    105.11
3709          NaN         Tenges  136.10  117.29    105.25
3710          NaN       Barwessa  136.22  117.41    105.35
3711          NaN     Kipsaraman  137.12  118.31    106.26
3712          NaN          Loruk  136.99  118.18    106.13
3713          NaN     Kabartonjo  135.96  117.15    105.11
3714          NaN       Tindiret  136.03  117.21    105.17
3715          NaN       O'lessos  135.19  116.38    104.34
3716          NaN        Kobujoi  135.59  116.79    104.74
3717          NaN          Serem  135.67  116.87    104.81
3718          NaN        Kabiyet  135.13  116.32    104.27
3719          NaN       Cheptulu  135.55  116.75    104.70
3720          NaN         Songor  136.10  117.29    105.25
3721          NaN      Kapcherop  135.73  116.93    104.88
3722          NaN       Sambalat  136.42  117.61    105.57
3723          NaN          Arror  136.07  117.27    105.21
3724          NaN            Tot  136.28  117.47    105.42
3725          NaN     Kaptarakwa  135.32  116.51    104.47
3726          NaN         Kapese  138.27  119.46    107.42
3727          NaN    Kalemngorok  137.67  118.85    106.81
3728          NaN         Marich  136.64  117.84    105.79
3729          NaN          Alale  137.14  118.32    106.28
3730          NaN         Kunyao  136.79  117.99    105.94
3731          NaN        Asilong  136.38  117.58    105.53
3732          NaN         Orolwo  136.42  117.61    105.57
3733          NaN          Sebit  136.37  117.56    105.52
3734          NaN         Morpus  136.28  117.47    105.42
3735          NaN   Chepkorniswo  136.17  117.35    105.31
3736          NaN    Kaibichbich  136.11  117.30    105.26
3737          NaN       Keringet  135.84  117.03    104.99
3738          NaN         Kisumu  135.13  116.30    104.26
3739          NaN          Sondu  135.24  116.40    104.37
3740          NaN         Oyugis  135.71  116.89    104.85
3741          NaN       Kakamega  135.18  116.35    104.32
3742          NaN         Mumias  135.46  116.63    104.59
3743          NaN          Bondo  135.35  116.51    104.48
3744          NaN          Siaya  135.46  116.64    104.60
3745          NaN        Kericho  135.65  116.81    104.77
3746          NaN        Nyamira  135.70  116.88    104.84
3747          NaN          Kisii  136.01  117.18    105.15
3748          NaN          Sotik  135.84  117.02    104.98
3749          NaN         Keroka  136.03  117.20    105.16
3750          NaN          Busia  136.00  117.17    105.14
3751          NaN        Homabay  135.95  117.12    105.08
3752          NaN         Migori  136.80  117.97    105.94